/* Side bar */
/* .part.sidebar {
  box-shadow: -20px 0px 50px rgba(0, 0, 0, 0.25);
} */

/* File Explorer Selected Item */
/* .monaco-list.list_id_1 .monaco-list-row.focused.selected {
  background-color: #4f5971 !important;
  opacity: 1 !important;
  border-top: 1px #727b90 solid;
  border-bottom: 1px #727b90 solid;
} */

/* List item label name */
/* .monaco-list.list_id_1 .monaco-list-row.focused.selected .label-name {
  color: #fff !important;
  opacity: 1 !important;
} */

/* File explorer action buttons */
/* .monaco-workbench .part.sidebar .title-actions .actions-container {
  display: none;
} */

.monaco-list.list_id_1 .monaco-list-row.focused.selected {
  background-color: rgba(0, 0, 0, 0.19) !important;
}

/* File Explorer Item Label */
.monaco-tree .monaco-tree-row .label-name,
.monaco-list .monaco-list-row .monaco-icon-label .label-name {
  font-family: 'JetBrainsMono Nerd Font Mono', monospace !important;
  font-size: 12px !important;
  font-weight: 700 !important;
}

.monaco-list .monaco-list-row {
  /* &:not(.selected) {
    color: hsla(0, 0%, 100%, 0.5) !important;
  } */
  &.selected {
    color: var(--vscode-list-activeSelectionForeground) !important;
  }
}

/* Sidebar top shadow */
.monaco-scrollable-element > .shadow.top {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75) !important;
  top: -3px !important;
}

/* Scroll Bar */
.slider {
  position: absolute !important;
  right: 1px !important;
  width: 2px !important;
  background: hsl(174, 42%, 65%, 0.6) !important;
  left: auto !important;
}

/* .codicon-toolbar-more,
.codicon-word-wrap {
  display: block !important;
} */

/* Tooltip box style */
.monaco-editor-hover,
.monaco-hover {
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2) !important;
  padding: 8px !important;
  /* background-image: linear-gradient(
    hsl(240, 14%, 17%) 0%,
    hsl(236, 14%, 9%) 100%
  ) !important; */
  backdrop-filter: blur(3px) !important;
  border-radius: 8px !important;
  /* border: none !important; */
}

/* List hover */
/* .monaco-list-row:hover {
  background: rgba(0, 0, 0, 0.2) !important;
}

.notifications-toasts .monaco-list-row:hover {
  background: none !important;
} */

.quick-input-widget {
  top: 140px !important;
  overflow: hidden !important;
  padding: 1px;
  border: 1px solid rgba(255,255,255,.2) !important;
  box-shadow: 0 0 0 1px rgba(0,0,0,1) !important;
  backdrop-filter: blur(10px) !important;
  background: rgba(0,0,0,.3) !important;
  border-radius: 8px !important;
}
.quick-input-list .quick-input-list-rows>.quick-input-list-row .monaco-icon-label .monaco-icon-label-container>.monaco-icon-name-container {
  display: inline-flex
}
.quick-input-list .quick-input-list-rows>.quick-input-list-row .monaco-icon-label::before {
  border: 1px solid rgba(255,255,255,.15);
  background-color: rgba(0,0,0,.2);
  background-size: 70%;
  border-radius: 3px;
  margin-right: 8px;
  padding: 0;
  width: 24px;
  display: flex;
  background-position: center
}
.quick-input-header .monaco-inputbox {
  background: none !important;
  border: none !important
}
.quick-input-header {
  padding: 0 !important;
  background: none !important;
  border-bottom: 1px solid rgba(255,255,255,.2) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 8px 8px 0 0 !important
}
.quick-input-and-message .input {
  background: hsl(240deg 1.33% 14.71% / .5) !important;
  backdrop-filter: blur(8px) !important;
  border: none !important;
  border-radius: 8px 8px 0 0 !important;
  padding: 0 12px !important;
  height: 40px !important;
  font-size: 14px !important;
  color: var(--vscode-quickInput-foreground) !important
}
.quick-input-header input:focus {
  outline: none !important
}
.quick-input-header .synthetic-focus {
  outline: none !important
}
.quick-input-list .monaco-scrollable-element {
  padding: 0 !important
}
.quick-input-progress.done {
  display: none !important
}
.quick-input-list .monaco-highlighted-label {
  color: rgba(255,255,255,.9) !important
}
.quick-input-list .quick-input-list-entry {
  background: none !important;
  padding: 0 8px !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 13px !important;
  color: var(--vscode-quickInput-foreground) !important
}
.quick-input-list {
  line-height: 40px !important;
  background: hsl(240deg 1.33% 14.71% / .7) !important;
  backdrop-filter: blur(10px) !important;
  padding: 8px 8px 4px 8px !important
}
.quick-input-list .monaco-list {
  padding: 0px !important
}
.quick-input-list .monaco-list-rows {
  min-height: 40px !important;
  top: 0 !important;
  background: none !important
}
.quick-input-widget.hidden-input .quick-input-list {
  margin-top: 0
}
.quick-input-list .monaco-list-row {
  top: 0 !important;
  height: 40px !important;
  position: relative !important
}
.quick-input-list .monaco-list-row.focused {
  background: rgba(255,255,255,.1) !important
}
.quick-input-list .quick-input-list-rows>.quick-input-list-row .monaco-icon-label {
  align-items: center !important
}

.monaco-editor [class*='ced-1-TextEditorDecorationType']::before {
  color: hsla(229.09, 40.83%, 80%, 0.8) !important;
  font-weight: 600;
}